body {
    margin: 0;
    font-family: 'Kalam', cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #181818;
    user-select: none;
    -webkit-user-select: none;
    padding-bottom: -10px;
    justify-content: center;
    max-width: 100%;
}

.slideshow-container {
    display: flex;
    justify-content: center;
    max-height: auto;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 98px;
}

.mySlides {
    display: none;
    text-align: center;
    animation: fade 1s;
}

.mySlides img {
    display: flex;
    justify-content: center;  
    max-height: auto;
    max-width: 100%;
    height: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}
  
@font-face {
    font-family: 'Edu NSW ACT Foundation';
    src: url('Fonts/Edu.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Galada';
    src: url('Fonts/Galada-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Kalam';
    src: url('Fonts/Kalam-Regular.ttf') format('truetype');
  }

  @media (orientation: landscape) {
    .mySlides img {
        max-width: 100%;
        max-height: 325px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
  }
  
  /* Estilo para tornar o slideshow responsivo */
#slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.mySlides img {
    max-width: 100%;
    max-height: auto;
}

/* Adiciona um pouco de espaço entre as imagens */
.mySlides {
    margin-right: 15px;
}

/* Adaptação do tamanho do slideshow para telas menores */
@media screen and (max-width: 768px) {
    .mySlides {
        margin-right: 0;
    }
}

@media screen and (min-width: 900px) {

    #slideshow-container {
        display: flex;
        justify-content: center;
        position: relative;
        max-width: 100%;
        overflow: hidden;
        max-height: auto;
    }
    
    .mySlides img {
        display: flex;
        justify-content: center;
        max-width: 100%;
        max-height: auto;
    }
}

